[submodule "kumanodocs"]
	path = kumanodocs
	url = https://github.com/kumano-dormitory/kumanodocs.git
[submodule "nginx/html"]
	path = nginx/html
	url = https://github.com/kumano-dormitory/kumano-top.git
[submodule "menu"]
	path = menu
	url = https://github.com/kumano-dormitory/menu.git
[submodule "bukai-issue-creator"]
	path = bukai-issue-creator
	url = git@github.com:kumano-dormitory/bukai-issue-creator.git
[submodule "kumanodocs-hanami"]
	path = kumanodocs-hanami
	url = https://github.com/kumano-dormitory/kumanodocs-hanami.git
