[submodule "kumanodocs"]
	path = kumanodocs
	url = https://github.com/kumano-dormitory/kumanodocs.git
[submodule "nginx/html"]
	path = nginx/html
	url = https://github.com/kumano-dormitory/kumano-top.git
